.login-wrapper {
  background-color: white !important;
  height: 100vh;
}
.login-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
.linkedinLogo {
  display: flex;
  width: 80px;
}
.common-input {
  height: 20px;
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 16px;
}
.common-input:focus {
  outline: 1px solid #0072b1;
}
.common-input::placeholder {
  font-family: system-ui;
  font-size: 16px;
}

.common-textArea {
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 16px;
  margin: -10px 0px;
}

.common-textArea:focus {
  outline: 1px solid #0072b1;
}
.common-textArea::placeholder {
  font-family: system-ui;
  font-size: 16px;
}
.login-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #0073b1;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}
.login-btn:hover {
  background-color: #004c75;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text::before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
.google-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-btn {
  width: 300px !important;
}
.go-to-signup {
  font-size: 18px;
}
.join-now {
  color: #0072b1;
  font-family: system-ui;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}
.heading-signin {
  font-family: system-ui;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}