.modal-input {
  border: none !important;
  background-color: white;
  outline: none;
  color: black;
  font-size: 16px;
  font-family: system-ui;
  width: 100%;
  resize: none;
}
.picture-icon {
  color: #0073b1;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}